
    <center> <h1>  <%= vday %>  </h1> 
    
                       sahnba 21 aqrab   </center>
<!-- 

<%- include('header') -%>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati deserunt, maiores voluptate ea est a expedita perferendis sint. Earum magni ab, sequi fuga libero alias hic qui consequuntur neque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati deserunt, maiores voluptate ea est a expedita perferendis sint. Earum magni ab, sequi fuga libero alias hic qui consequuntur neque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati deserunt, maiores voluptate ea est a expedita perferendis sint. Earum magni ab, sequi fuga libero alias hic qui consequuntur neque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati deserunt, maiores voluptate ea est a expedita perferendis sint. Earum magni ab, sequi fuga libero alias hic qui consequuntur neque.</p>
        </div>
        <%- include('footer') -%> -->
